body{
  padding-top:40px;
}

div.row-fluid, div.container-fluid{
  background:white;
}

div.navbar div{
  background:#000;
}


table.abilities tr.hasBonus{
  background:#ccffcc;
}

.nopad{
  padding-left: 0;
  padding-right: 0;
}

